body{
    font-family:Arial, Helvetica, sans-serif;
}
#data{
    width:100%;
    height:50%;
}
#clock{
    font-size:25px!important;
    font-weight:bold;
    
    width:100%;
    text-align:center;
}
#timer{
    font-size:30px;
    font-weight:bolder;
    
    width:100%;
    text-align:center;
}
#buttonmenu{
    width:70%;
    height:auto;
    margin:0 auto;
    text-align:center;
}
#inMenu{
    display:block;
}
#outMenu{
    display:none;
}
#breakMenu{
    display:none;
}
#report{
    display:block;
    width:100%;
    height:auto;
    text-align:center;
    margin-top:40px;
}
button{
    background-color:rgba(255,255,255,0.5);
    border-radius:4px;
    border-style:solid;
    font-size:20px;
}
button.bottom{
    position:absolute;
    bottom:0;
    left:0;
}